<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="maincss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>2page</title>
</head>

<body>
    <header class="container">
        <div class="header__content">
            <a href="mainpage" class="header_logo">MovieSite</a>
            <a href="mainpage" class="header_logo2">Trends</a>
            <a href="2page" class="header_logoT">Online Cinema</a>
            <a href="account" class="header_logo2">Account</a>

            <div id="nav" class="navigation">
                <div class="navigation__inner">
                    <div class="google">
                        <input id="search" type="text" name="search" class="header_search" placeholder="Google SRCH!">
                        <input type="submit" name="submit" class="header_search" value="Search" class="buttongoogle"
                            onclick="search()">
                           
                        <script>
                            function search() {
                                const str = document.getElementById("search").value;
                                const word = str.replaceAll(' ', '+');
                                window.open("https://www.google.com/search?q=" + word);
                            }
                        </script>
                    </div>
                </div></div>
        </div>
    </header>
    <div class="container">
        <div class="movies">
            <div class="movie">
                <div class="movie__cover-inner">
                    <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/3ddc0946-5e53-4f7a-b355-cd42c2280f9e/300x450"
                        class="movie__cover" width="100%" />
                    <div class="movie__cover--darkened"></div>
                </div>
                <div class="movie__info">
                    <div class="movie__title"><a href="uncharted">Анчартед: На картах не значится</a></div>
                    <div class="movie__category">приключения, боевик</div>

                </div>
            </div>
            <div class="movie">
                <div class="movie__cover-inner">
                      <img src="https://kinopoiskapiunofficial.tech/images/posters/kp_small/1309570.jpg"
                        class="movie__cover" width="100%" />
                    <div class="movie__cover--darkened"></div>
                </div>
                <div class="movie__info">
                    <div class="movie__title"><a href="spiderman">Человек-паук: Нет пути домой</a></div>
                    <div class="movie__category">фантастика, приключения, боевик, фэнтези
                    </div>

                </div>
            </div>
            <div class="movie">
                <div class="movie__cover-inner">
                    <img src="https://static.hdrezka.ac/i/2021/12/14/jddf7b4a3a4c8og92n21b.jpg"
                        class="movie__cover" width="100%" />
                    <div class="movie__cover--darkened"></div>
                </div>
                <div class="movie__info">
                    <div class="movie__title"><a href="moonknight">Морбиус</a></div>
                    <div class="movie__category">триллер, фантастика, боевик, фэнтези, ужасы</div>

                </div>
            </div>
            <div class="movie">
                <div class="movie__cover-inner">
                    <img src="https://static.hdrezka.ac/i/2021/3/6/o41759bd352dazn54q16d.jpeg"
                        class="movie__cover" width="100%" />
                    <div class="movie__cover--darkened"></div>
                </div>
                <div class="movie__info">
                    <div class="movie__title"><a href="showshenko">Побег из Шоушенка</a></div>
                    <div class="movie__category">драмы, криминал</div>

                </div>
            </div>
            
        </div>


</body>

</html>