<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Regcss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <title>account</title>
</head>

<body>
    <header class="container">
        <div class="header__content">
            <a href="mainpage" class="header_logo">MovieSite</a>
            <a href="mainpage" class="header_logo2">Trends</a>
            <a href="2page" class="header_logo2">Online Cinema</a>
            <a href="account" class="header_logoT2">Account</a>
            <a href="results" class="header_logoT">Read</a>
            <a href="find" class="header_logoT">Find</a>
            <a href="update" class="header_logoT">Update</a>
            <a href="delete" class="header_logoT">Delete</a>
          
        </div>
    </header>
   
</head>
<body>
    <form action="/user" class="needs-validation" novalidate method="post">
          <h1 title="Logging">Регистрация</h1>
          <div class="group">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="" value="" required>
          </div>
          <div class="group">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="" required>
        </div>
        <div class="group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="" value="" required>
        </div>
        <div class="group">
          <center><button>Регистрация</button></center>
        </div>
        <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </form>

</body>
</html>