<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Regcss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>account</title>
</head>

<body>
    <header class="container">
        <div class="header__content">
            <a href="mainpage" class="header_logo">MovieSite</a>
            <a href="mainpage" class="header_logo2">Trends</a>
            <a href="2page" class="header_logo2">Online Cinema</a>
            <a href="account" class="header_logoT">Account</a>
            <a href="read" class="header_logoT">Read</a>
            <a href="find" class="header_logoT2">Find</a>
            <a href="update" class="header_logoT">Update</a>
            <a href="delete" class="header_logoT">Delete</a>
          
        </div>
    </header>
   
</head>
<body>
    <form action="user/email" class="needs-validation" novalidate method="get">
        <h1 title="Logging">Регистрация</h1>
        <div class="group">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="" value="" required>
        </div>
        <div class="group">
            <center><button>Найти</button></center>
          </div>
    </form>

</body>
</html>