<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="maincss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>mainpage</title>
</head>

<body>
    <header class="container">
        <div class="header__content">
            <a href="mainpage" class="header_logo">MovieSite</a>
            <a href="mainpage" class="header_logoT" color="blue">Trends</a>
            <a href="2page" class="header_logo2">Online Cinema</a>
            <a href="account" class="header_logo2">Account</a>



            <form>
                <input type="text" class="header_search" placeholder="Search">

            </form>
        </div>
    </header>
    <div class="container">
        <div class="movies">
            <!--  <div class="movie">
             <div class="movie__cover-inner">
        <img
          src="бэтмен.jpg"
          class="movie__cover"
         
        />
        <div class="movie__cover--darkened"></div>
      </div>
      <div class="movie__info">
        <div class="movie__title"><a href="2page.html">${movie.nameRu}</a></div>
        <div class="movie__category">${movie.genres.map(
          (genre) => ` ${genre.genre}`
        )}</div>-->

        </div>
    </div>
    </div>

    <script src="mainjs.js"></script>
</body>

</html>